aside
	article
		h2 Column Head
		ul
			li ListItem 1
			li ListItem 2
			li ListItem 3
			li ListItem 4
			li ListItem 5
			
	hr
	
	article.bg-grey
		.lead Webzine
		h4 Secondary Head
		
		p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		
	hr(style="border none")
	
	article.bg-grey
		.lead Webzine
		h4 Secondary Head
		
		p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
		p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.