aside
	article.bg-grey
		h4.small-dark-title Interviews
		.embed-responsive.embed-responsive-16by9
			<iframe width="560" height="315" src="https://www.youtube.com/embed/wzAWI9h3q18" frameborder="0" allowfullscreen></iframe>
		
		h2 Well, do ya Jade...Bro???
		p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			
		.row.text-muted
			.col-sm-6 SomeText 4/14/15
					
				
			.col-sm-6
				.glyphicon.glyphicon-user
				|  Name of Person
				
	hr

	article
		h4.small-dark-title Interviews
		
		+mediaobject("Hello")
		+mediaobject("I Jade")
		+mediaobject("Your Mother.....")
		+mediaobject("I know you")
		
	hr
	
	article
		h2 YourHeading
		
		a(href="") URL
		Strong Person,Company
		p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		
		a(href="") URL
		Strong Person, Company
		p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit.